security.json
terraform/.terraform.lock.hcl
terraform/.terraform/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.env

.idea/
../aws-container-devsecops/content/pipeline/pipelines.files/terraform/.terraform/
golang_example
reports/

node_modules
